body {
  color: #36506c;
  font-family: "Montserrat", sans-serif;
  padding: 40px;
}

h1, h2 {
font-weight: bold;
}

h1 {
  font-size: 80px;
  text-align: center;
  padding: 30px 0 15px 0;
}

h2 {
  font-size: 40px;
  padding-top: 30px;
}

button {
  background-color: #24527a;
  color: white;
  padding: 6px;
  line-height: 1.5;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 10px rgb(0 0 0 / 30%);
  transition: all 200ms ease-in-out;
}

button:hover
{
  background-color: #2c6495;
}

hr {
  border: solid 1px #34699a;
  margin-bottom: 30px;
}

img {
  width: 55%;
}

p {
  text-align: center;
  font-weight: bolder;
  padding: 10px 10px 3px;
  margin-bottom: 0;
  font-size: 18px;
}

.box {
  margin: 80px auto;
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgb(0 0 0 / 10%);
  max-width: 720px;
}

.top-details {
  font-size: 16px;
  list-style-type: none;
  padding-left: 5px;
}

.weather-details{
    list-style-type: none;
    padding-left: 60px;
    font-size: 13px;
}

.week-image {
  display: block;
  margin: 0 auto;
  width: 75%;
}

.min {
  text-align: center;
  padding: 0 10px;
  font-size: 13px;
  font-weight: normal;
}

.unit {
  float: right;
}

.footer{
  text-align: center;
  font-size: 10px;
  padding-top: 0;
}